[libraries]
archunit = { module = "com.tngtech.archunit:archunit-junit5", version = "1.0.1" }
assertj-core = { module = "org.assertj:assertj-core", version = "3.24.2" }
jetbrains-annotations = { module = "org.jetbrains:annotations", version = "24.0.1" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version = "5.9.3" }
junit-platform-reporting = { module = "org.junit.platform:junit-platform-reporting", version = "1.9.3" }
log4j-slf4j-impl = { module = "org.apache.logging.log4j:log4j-slf4j-impl", version = "2.17.0" }
picocli = { module = "info.picocli:picocli", version = "4.7.3" }
slf4j-api = { module = "org.slf4j:slf4j-api", version = "2.0.7" }
xmlunit-assertj = { module = "org.xmlunit:xmlunit-assertj3", version = "2.9.1" }

[bundles]
junit = ["junit-jupiter", "junit-platform-reporting"]
