[versions]
eclipse = "4.32.0"
immutables = "2.10.1"
jackson = "2.18.1"

[libraries]
archunit = { module = "com.tngtech.archunit:archunit-junit5", version = "1.3.0" }
assertj-core = { module = "org.assertj:assertj-core", version = "3.26.3" }
immutables-value = { module = "org.immutables:value", version.ref = "immutables" }
immutables-valueAnnotations = { module = "org.immutables:value-annotations", version.ref = "immutables" }
jackson-annotations = { module = "com.fasterxml.jackson.core:jackson-annotations", version.ref = "jackson" }
jackson-dataformat-xml = { module = "com.fasterxml.jackson.dataformat:jackson-dataformat-xml", version.ref = "jackson" }
jetbrains-annotations = { module = "org.jetbrains:annotations", version = "26.0.1" }
joox = { module = "org.jooq:joox", version = "2.0.1" }
jsonSanitizer = { module = "com.mikesamuel:json-sanitizer", version = "1.2.3" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version = "5.11.3" }
junit-platform-reporting = { module = "org.junit.platform:junit-platform-reporting", version = "1.11.3" }
log4j-slf4j2-impl = { module = "org.apache.logging.log4j:log4j-slf4j2-impl", version = "2.24.1" }
picocli = { module = "info.picocli:picocli", version = "4.7.6" }
playwright = { module = "com.microsoft.playwright:playwright", version = "1.48.0" }
slf4j-api = { module = "org.slf4j:slf4j-api", version = "2.0.16" }
xmlunit-assertj = { module = "org.xmlunit:xmlunit-assertj3", version = "2.10.0" }
woodstox-core = { module = "com.fasterxml.woodstox:woodstox-core", version = "7.1.0" }

# Only declared here so Dependabot knows when to update the referenced versions
eclipse-platform = { module = "org.eclipse.platform:org.eclipse.platform", version.ref = "eclipse" }

[bundles]
junit = ["junit-jupiter", "junit-platform-reporting"]

[plugins]
node = { id = "com.github.node-gradle.node", version = "7.1.0" }
shadow = { id = "com.gradleup.shadow", version = "8.3.5" }
spotless = { id = "com.diffplug.spotless", version = "7.0.0.BETA4" }
