[versions]
eclipse = "4.33.0"

[libraries]
archunit = { module = "com.tngtech.archunit:archunit-junit5", version = "1.3.0" }
assertj-core = { module = "org.assertj:assertj-core", version = "3.26.3" }
jetbrains-annotations = { module = "org.jetbrains:annotations", version = "26.0.1" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version = "5.11.2" }
junit-platform-reporting = { module = "org.junit.platform:junit-platform-reporting", version = "1.11.2" }
log4j-slf4j-impl = { module = "org.apache.logging.log4j:log4j-slf4j-impl", version = "2.24.1" }
picocli = { module = "info.picocli:picocli", version = "4.7.6" }
slf4j-api = { module = "org.slf4j:slf4j-api", version = "2.0.16" }
xmlunit-assertj = { module = "org.xmlunit:xmlunit-assertj3", version = "2.10.0" }
woodstox-core = { module = "com.fasterxml.woodstox:woodstox-core", version = "7.0.0" }

# Only declared here so Dependabot knows when to update the referenced versions
eclipse-platform = { module = "org.eclipse.platform:org.eclipse.platform", version.ref = "eclipse" }

[bundles]
junit = ["junit-jupiter", "junit-platform-reporting"]

[plugins]
shadow = { id = "com.gradleup.shadow", version = "8.3.3" }
spotless = { id = "com.diffplug.spotless", version = "7.0.0.BETA3" }
