:root {
  font-family: sans-serif;
  color-scheme: light dark;
  color: white;
  background-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }
}
